.btn-export {
    padding: 6px 34px !important;
    font-size: 12px !important;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper .col-stats, .col-actions {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.footer-wrapper .col-actions {
    width: auto;
}

.footer-wrapper .btn-outline-primary {
    margin-right: 15px;
}

@media only screen and (max-width: 1024px) {
    .footer-wrapper {
        width: 100%;
        flex-direction: column;
    }

    .footer-wrapper .col-stats {
        width: 100%;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        margin-bottom: 10px;
    }

    .footer-wrapper .col-actions {
        width: 100%;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        margin-bottom: 10px;
    }

    .btn-export {
        width: 100%;
    }
    .footer-wrapper .btn-outline-primary {
        margin-right: 0px;
    }
}