.transactions-table {
    height: 50vh;
}

.transactions-table thead {
    position: sticky;
    top: 0;
    background-color: white !important;
    color: var(--blugrey-4, #364E63);
    font-size: 12px;
    /* font-family: Inter; */
    font-weight: 700;
    line-height: 20px;
}

.transactions-table .date {
    min-width: 110px;
}

.transactions-table td, th {
    color: var(--blugrey-4, #364E63);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}

.transactions-table .status::before {
    content: '•';
    display: inline-block;
    font-size: 2em;
    vertical-align: middle;
    /* Add this property to center vertically */
    margin-right: 4px;
    /* line-height: 0.5em; */
    /* margin-left: -1.5em; */
}

.transactions-table .status-pending::before {
    color: #EBBC15;
}

.transactions-table .status-finished::before {
    color: var(--green-low, #75BE48);
}

.transactions-table .status-cancelled::before {
    color: red;
}

.transactions-table .td-center {
    display: flex;
    justify-content: center;
}