thead {
    background: transparent !important;
}

thead tr th {
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    line-height: 32px !important;
    color: #6F869B !important;
}

.last-row td {
    border-bottom: none !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 26px !important;
    color: #364E63 !important;
}