.project-wrapper {
    margin-top: 25px !important;
    border: 1px #D9D9D9 solid !important;
}

.project-wrapper img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #D5DFE7;
    border-radius: 8px;
}

.project-info-title {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
}

.project-specs-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.project-specs-wrapper {
    display: flex;
    justify-content: center;
}

.project-specs {
    display: flex;
    justify-content: start;
    align-items: center !important;
    width: 100%;
}

.project-specs-type {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #364E63;
    margin-left: 14px;
    margin-right: 6px;
}

.project-specs-value {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #6F869B;
}

.progress-bar {
    background-color: #75BE48 !important;
}


.crowdfunding-progress-wrapper {
    display: flex;
    justify-content: space-between;
}

.crowdfunding-progress-text {
    color: #6F869B !important;
    font-style: normal;
    font-size: 12px;
    line-height: 24px;
}

.crowdfunding-progress-text.sum-progress {
    font-weight: 600;

}

.crowdfunding-progress-text.time-left {
    font-weight: 400;
}